/* @font-face {font-family:"Alte Haas Grotesk";src:url("AlteHaasGroteskRegular.eot?") format("eot"),url("AlteHaasGroteskRegular.woff") format("woff"),url("AlteHaasGroteskRegular.ttf") format("truetype"),url("AlteHaasGroteskRegular.svg#AlteHaasGrotesk") format("svg");font-weight:normal;font-style:normal;}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/
body {
  /* Margin bottom by footer height */
 /* margin-bottom: 60px;*/
  /*font-family:"Alte Haas Grotesk" !important;*/
  font-family: 'Open Sans', sans-serif;
}
p{font-size: 15px;line-height: 22px;}
.footer {
 /* position: absolute;
  bottom: 0;
  width: 100%;*/
  /* Set the fixed height of the footer here */
  /*height: 250px;
  line-height: 60px; *//* Vertically center the text there */
  background-color: #002232;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
a, a:hover{text-decoration: none;}

.top-bar{position: fixed;right: 0;top:0; background-color: #4194c9;color: #fff;padding: 0px 30px 5px 30px;z-index: 99999;border-bottom-left-radius: 25px;}
.top-bar span a{padding: 0 10px;font-size: 12px;color:#fff;}

.carousel{box-shadow: none;}

.mt-80{
    margin-top: 80px !important;
}

.carousel-indicators li:hover{cursor: pointer;}
#main-nav{box-shadow: 0 5px 5px rgba(0,0,0,.3);}
#main-nav ul li{padding-top: 20px;}
.navbar-expand-md .navbar-nav .nav-link{padding-left:1em;padding-right: 1em;color: rgba(0,0,0,.7);font-size: 14px;}
.navbar-nav li {display: inline-block; position: relative;}
.dropdown-item:focus, .dropdown-item:hover{background-color:#4194c9;color: #fff; }
.navbar-nav li:last-child {margin-right: 0;}
.navbar-nav li:after {content: '';display: block;margin: auto;height: 2px;width: 0px;background: transparent;transition: width .5s ease, background-color .5s ease;}
.navbar-nav li:hover:after {width:80%; background: #4194c9;}
.dropdown-item{font-size: 14px;}
#main-nav nav ul li{z-index: 1100;}

nav .navbar .dropdown-menu ul li{z-index: 1100;}
.display-4 {font-size: 1.5rem;font-weight: 400;}
.display-5 {font-size: 1.2rem;font-weight: 400;}
.display-6 {font-size: 1rem;font-weight: 400;}
.main-heading{font-size: 22px;font-weight: 400;text-transform: uppercase;}
.main-heading a{color: #222;text-decoration: none;}
.main-heading a:hover{color: #222;text-decoration: none;color:#4194c9; }

/* MAIN SEARCH
-------------------------------------------------- */
#main-search > .form-control-lg, .input-group-lg > .form-control, .input-group-lg{font-size: 1rem;line-height: 1.5;border-top-left-radius: 25px;border-bottom-left-radius: 25px;}

#main-search > .input-group-addon, .input-group-lg > .input-group-btn > .btn{padding: .5rem 1rem .5rem .6rem;line-height: 1.5;border-top-right-radius: 1.5em;border-bottom-right-radius: 1.5em;background-color:#4194c9;cursor: pointer; border: 1px solid #4ca4dc !important;}
#main-search > .input-group-addon, .input-group-lg > .input-group-btn > .btn:hover{background-color:#fff;color:#4194c9; }
#main-search .form-control{border: 1px solid #4ca4dc !important;font-size: 14px;}

/*CARD
------------*/
.card {
  margin-bottom:15px;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0rem;
  font-size: 13px;
  /*margin: 0.8rem 1.25rem;*/
}
.card-header{border-left: 3px solid #4194c9;background-color: #fff;}
.card-header a{font-size: 14px;color: #222;line-height: 14px;}
.card-header h2{font-size: 15px !important;}
.card-header h2:after{content:"\f067";font-family: FontAwesome;position: absolute;right: 10px;line-height:18px;color:#4194c9;}

.card-header a:hover{text-decoration: none;color:#4194c9; }

.card-header:hover{text-decoration: none;box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);}
.card-body{padding: 0.8rem 1rem;}
.card-body p{font-size: 13px;margin-bottom:10px;line-height: 18px;}
.card-body p a{color: #555;}
.card-body p a:hover{color: #1C83C1;}

.bg-light-gray{background-color: #f0f0f0;}
.div-shadow{box-shadow: 0px 0px 6px rgba(0,0,0,.2);}
.div-scal{transform: scale(1);transition: .2s ease-in-out 0s;box-shadow: 0px 0px 6px rgba(0,0,0,.2);}
.div-scal:hover{transform: scale(1.05);transition: .2s ease-in-out 0s;box-shadow: 0px 1px 10px rgba(0,0,0,.3);}

#events .events{color: #fff;background-color:#4194c9;margin-bottom: 18px;}
#events .p-2{padding: 0 .5rem !important;vertical-align: middle;}
#events p{padding: 5px 0;}
#events .date{font-weight: 700 !important;color: #F5F504;font-size: 40px;}
#events h3{font-size: 15px;}
#events h3 a{color: #fff;}
#events h3 a:hover{color: #F5F504;text-decoration: none;}

.article-card .carousel-inner{height: 348px;overflow: hidden;}
#article-slide.carousel, #testimonial.carousel {box-shadow: none;margin-top: 0px;}
.article-card .card a, .expert-talk .card a{text-decoration: none;color: #fff;font-size: 20px;}
.article-card .card-body, .expert-talk .card-body{background-color:#4194c9;color: #fff;text-transform: uppercase;}
.article-card .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding: 20px 10px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0.02) 1%,hsla(0,0%,0%,0.55) 29%,hsla(0,0%,0%,0.75) 99%,hsla(0,0%,0%,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); *//* IE6-9 */
    }

#expert-talk{
  background-image:url("../img/expert-talk/expert-talk-bg.jpg") ;
  /*background-color: #555 !important;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 348px;
  overflow: hidden;
  margin-top: 0px;
  box-shadow: none;
  color: #fff;
}    
#expert-talk img{border: 2px solid #fff;}
#expert-talk .carousel-control{
  position: relative;
  top: 100px;
  bottom:0;
  color: #fff;
  z-index: 10
}
#expert-talk .discription{padding:0 30px;font-size: 16px; }
#expert-talk .name{font-size: 14px;font-weight: bold; }
#expert-talk .card a{text-decoration: none;color: #fff;font-size: 20px;}
#expert-talk .card-body{background-color:#4194c9;color: #fff;text-transform: uppercase;}

.testimonial{
  background-image:url("../img/testimonial/testimonial-bg.jpg");
  /*background-color: #555 !important;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px; overflow: hidden;
  margin-top: 0px;
  box-shadow: none;
  color: #fff !important;
}

.testimonial .discription{padding:0 30px;font-size: 16px; line-height: 26px;font-weight: normal;}
.testimonial .name{font-size: 14px;font-weight: bold; padding-bottom: 10px;}
.testimonial-heading a{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.testimonial .discription:before{content:"\f10d";font-family: FontAwesome;position: relative;color:#fff;left: -10px;bottom:5px;font-size: 24px;}
.testimonial .discription:after{content:"\f10e";font-family: FontAwesome;position: relative;color:#fff;right: -10px;bottom:0px;font-size: 24px;}

#content .card-body ul li{line-height: 24px;font-size: 14px;padding-bottom: 10px;list-style: none;margin-top: 10px;}
#content li:before{content:"\f0da";font-family: FontAwesome;position: relative;color:#4194c9;font-size: 14px;font-weight: normal;left: -20px;}
.card-footer{background-color:#4194c9;color: #fff;text-transform: uppercase;text-transform: uppercase;border: 0px;}

.card-footer a{color: #fff;text-decoration: none;font-size: 20px;}
.card-footer:last-child { border-radius: 0px;}

.wp-bg{
  background-image:url("../img/white-paper-bg.jpg");
  /*background-color: #555 !important;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#partners .carousel-control-prev{
    left: 0;
    top: 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
#partners .carousel-control-next{
    right: 0;
    top: 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
.partners .main-title {
    margin: 20px 0 40px;
    padding: 0 20px;
    font-size: 1.16em;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    text-transform: uppercase;
}
.partners .main-title span {
    padding: 0 20px;
    /*background-color: #F0F0F0;*/
    position: relative;
    bottom: -10px;
}

#clientele img{border: 1px solid #ddd;padding: 10px;background-color: #fff;}
#clientele.title{font-size: 22px;font-weight: 400;text-transform: uppercase;}


.main-title {
    margin: 20px 0 40px;
    padding: 0 20px;
    font-size: 1.16em;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    text-transform: uppercase;
}
.main-title span {
    padding: 0 20px;
    background-color: #fff;
    position: relative;
    bottom: -10px;
}
.main-title span a{color: #222;font-weight: bold;}

/*FOOTER*/
footer{background-color:#002232 !important;color: #ccc;}

.footer-widget h5 {
  color: #eee;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.footer-widget h5 .head-line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #26566c;
  margin: 0;
}
footer ul{padding-left: 0px;margin-top: 0px;}

footer ul li{padding: 3px 0;list-style: none;}
footer ul li a{font-size: 13px;color: #ccc;}
footer ul li a:hover{color: #4194c9;}
.copyright-section{border-top: 1px dashed #26566c;list-style: none;font-size: 13px;color: #999;}
.copyright-section p{font-size: 13px !important;color: #999 !important;}
footer i{color:#26566c;}

.social-widget ul.social-icons li{display:inline-block;margin-right:10px;margin-bottom:0px;margin-top:2px;}
.social-widget ul.social-icons li a i{font-size:1em;width:34px;height:34px;color:#fff;line-height:34px;text-align:center;display:block;border-radius:50% !important;transition:all .2s ease-in-out;}
.social-widget ul.social-icons li a i{background-color:transparent;border:1px solid #ccc;}
.social-widget ul.social-icons li a.facebook i:hover{background-color:#4B76BB;border:1px solid transparent;}
.social-widget ul.social-icons li a.twitter i:hover{background-color:#01C9FD;border:1px solid transparent;}
.social-widget ul.social-icons li a.google i:hover{background-color:#CB3E2D;border:1px solid transparent;}
.social-widget ul.social-icons li a.linkdin i:hover{background-color:#0A87C7;border:1px solid transparent;}
.social-widget ul.social-icons li a.youtube i:hover{background-color:#f03a37;border:1px solid transparent;}
.social-widget ul.social-icons li a.pinterest i:hover{background-color:#d0202a;border:1px solid transparent;}


@media (max-width: 768px) {
.navbar-brand img{height: 40px;}  
.top-bar{position: relative;}
.mt-80{margin-top: 95px !important;}
.top-bar .sticky-top{position: relative;}
#company-profile .sticky-top{position: relative;}
}

/* Company-Profile
===================*/
#company-profile .bg-primary{background-color: #1c83c1 !important;}
#company-profile .navbar-dark .navbar-nav .nav-link{color: rgba(255,255,255,.8);}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link{color: #fff !important;font-size: 18px;}
#company-profile .navbar-nav .nav-item .disabled{cursor:not-allowed;color: rgba(255,255,255,.4);}
#company-profile .navbar-expand-lg .navbar-nav .nav-link{padding: 2px 30px;}
.btn{border-radius: 0px;} 
.btn:hover{background-color:#0b69a1;cursor: pointer; color: #fff;}
.btn-light{padding: 3px 40px;color:#1c83c1;}
.btn-light:hover{color:#fff;}
.btn-primary{background-color: #1c83c1;}
.btn-outline-primary{border-color: #1c83c1;color: #1c83c1;}
#company-profile .title{font-size: 20px;} .title span{padding-right: 20px;color: #555;font-size: 14px;}
#company-profile .title2{font-size: 14px;} .title2 span{padding-right: 20px;color: #555;font-size: 14px;}

#company-profile .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.border-secondary {border-color: #ddd !important;}


/*Product Gallery
==================*/

#product .product{
  overflow: hidden;
  position: relative;
  text-align: center;
}
#product .product{background-color: #fff;}

#product img {
  display: block;
  position: relative;
  transition: all 0.4s ease-in;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#product h2 {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: -8px;
  font-size: 13px;
  padding: 10px 5px;
  width: 100%;
  /*background: #eee;*/
  background-color: rgba(225,225,225,0.8) !important;
  color: #333;
  font-weight: bold;
}

#product h2 a{color: #333;}

#product .check{position: absolute;top: 0;left: 5px; z-index:11;}

.image-checkbox{
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    outline: 0; 
}

.unselectable {
  user-select: none;
  border:2px solid #4194c9;
  z-index: 9; 
  pointer-events: none !important;
} 
#product .overlay{
    filter: grayscale(100%);
    opacity: 0.7;
    z-index: 10;
    }

.carousel-indicators-round{position: absolute;top: 10px;margin-right:5% !important;}
.carousel-indicators-round li{
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #4194c9;
    background-color: transparent;
    }    

.pt-180{
 /* padding-top: 180px !important;*/
  padding-top: 160px !important;
  /*position: sticky !important;*/
  z-index: 999 !important;
  }    


/*Pertners - Slider
--------------------*/
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus{
  outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    /*cursor: hand;*/
}

.slick-slider .slick-track,
.slick-slider .slick-list{
  transform: translate3d(0, 0, 0);
}

.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img{
    display: block;
}
.slick-slide.slick-loading img{
    display: none;
}
/*.slick-slide.dragging img{
    pointer-events: none;
}*/
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
    display: none;
}
.slick-prev {left: -10px;}

.slick-next {right: -10px;}

.slick-prev, .slick-next {
    font-size: 12px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: #fff !important;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #888;
    z-index: 999;
}

.event-bg{
  background-image:url("../img/events/event-list/event-listing-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;  
}
.event-bg h1{
  color: #fff;
  font-size: 40px;
  padding: 50px 0;
}

.btn:hover {
   /* background-color: #ccc;*/
    cursor: pointer;
}

#event-list .event-list{
  overflow: hidden;
  position: relative;
  text-align: center;
}

#event-list img {
  display: block;
  position: relative;
  transition: all 0.4s ease-in;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#event-list h2 {
  position: absolute;
  right: 0%;
  bottom: -8px;
  left: 0%;
  z-index: 10;
  padding: 40px 0 20px 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 70%);
  }

#event-list h2 a{color: #fff;font-size: 16px; font-weight: bold;}

#event-list .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0,0,0,.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .6s ease;
}

#event-list .event-disc:hover .overlay {
  height: 100%;
  color: #fff !important;
}

#event-list .text {
  white-space: nowrap; 
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*PROJECTS*/
#projects-list .projects-list{
  overflow: hidden;
  position: relative;
  text-align: center;
}

#projects-list img {
  display: block;
  position: relative;
  transition: all 0.4s ease-in;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*#projects-list img:hover {transform: scale(1) rotate(0deg) translateX(0px) translateY(-40px);}*/

#projects-list h2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  }

#projects-list h2 a{color: #fff;font-size: 16px; font-weight: bold;}

#projects-list .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0,0,0,.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .6s ease;
}

#projects-list .projects-disc:hover .overlay {
  height: 50%;
  color: #fff !important;
}

#projects-list .text {
  white-space: nowrap; 
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text-blue{color: #1C83C1;}
.min-height-240{min-height: 240px;}
.custom-checkbox .custom-control-indicator{box-shadow: 0px 0px 2px rgba(0,0,0,.5) !important;}


#form-sticky, .sticky-top{
  transition: all 1s ease-in-out;
   }

.card-deck .card .card-body{height:350px;overflow: hidden;} 

#projects-list h2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  }

#projects-list h2 a{color: #fff;font-size: 16px; font-weight: bold;}

#projects-list .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0,0,0,.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .6s ease;
}

#projects-list .projects-disc:hover .overlay {
  height: 50%;
  color: #fff !important;
}

#projects-list .text {
  white-space: nowrap; 
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text-blue{color: #1C83C1;}
.min-height-240{min-height: 240px;}
.custom-checkbox .custom-control-indicator{box-shadow: 0px 0px 2px rgba(0,0,0,.5) !important;}


#form-sticky, .sticky-top{
  transition: all 1s ease-in-out;
   }

.card-deck .card .card-body{height:350px;overflow: hidden;} 
.g-recaptcha{transform:scale(0.79);-webkit-transform:scale(0.79);transform-origin:0 0;-webkit-transform-origin:0 0;}
#map{height: 150px;}